* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .psswd-gen {
      display: flex;
      height: 100vh;
  }

  .box {
      display: flex;
      margin: auto;
      height: 500px;
      width: 500px;
      background-color: lightgray;
      border: 1px solid gray;
  }

  #text {
      margin: auto;
      background-color: white;
      width: 500px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

  }
